<% content_for :title do %>About<% end %>
 <div class="marketing"> <br />
		<h2><a href="http://www.fundrr.com">fundrr.com</a> Start Up Platform</h2> <br /><br />
		<h4>Helping startups acquire the capital and talent needed to succeed.</h4>
    <br />

<div class="container">
    <div class="span4">
        <a href="http://fundrr.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/fundrr-beta5-logo-white-square.png"></a>
    <a href="http://fundrr.com"><h4>fundrr.com</h4></a>   
<p>fundrr is crowdfunding for the future of start ups. Built by <a href="http://cloud-media.com/">CloudMedia</a> &  Designed by <a href="http://twitter.com/houstongolden">@houstongolden</a> using <a href="rubyonrails.org">Ruby on Rails</a> and <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is managed through <a href="http://github.com/houstongolden/civly/">GitHub</a> to help nerds do awesome stuff on the web.</p>

      </div>
     </div>

    <br />
    <br />
    <br />
    <hr class="soften">

    <footer>
    <h5>Built by <a href="http://www.houstongolden.com">Houston Golden</a> & Powered By <a href="http://www.cloud-media.com">CloudMedia</a></h5></footer>
