<% content_for :title do %>Heroes<% end %>
<h1>We Are Angels</h1>
	<p>
		<a href="http://www.civly.com">Fundrr.com</a> is a platform for <b>start up founders</b> to connect with the <b>angels</b> and developers they need to succeed..</p>
<br />


<div class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Investments:
  <%= link_to '(55)', page_path('startups') %>
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/iconshock/batman/128/Batman-icon.png">
    <h2>$100.00 in Fundrr.com</h2>

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/simekonelove/modern-web/128/love-icon.png">
        <h2>Hearts: 5</h2>

      </div>
      <div class="span4">
        <img class="marketing-img" src="http://icons.iconarchive.com/icons/martz90/circle-addon1/128/text-plus-icon.png">
        <h2>Plus +5 Fundrr Points</h2>
        <p>While Fundrr is a consumer-foccused <a href="./scaffolding.html#gridSystem">product</a>, it provides businesses a valuable <a href="./javascript.html">investment opportunity</a> to show customers and clients that they are doing good <a href="./customize.html"> in society</a></p>
      </div>
    </div>
   </div>


<br />
<br />
<hr />

  <div class="divider"></div>

  <div class="container secondary">
    <ul>
      <li>Made in <a href="http://en.wikipedia.org/wiki/Santa_Monica">Santa Monica, CA</a></li>
      <li>&copy; 2013</li>
    </ul>


  </div>
</div>
<br />