<% content_for :title do %>Badges<% end %>
<h1>We Are Founders</h1>
  <p>
    <a href="http://www.civly.com">Fundrr.com</a> is a platform for <b>start up founders</b> to connect with the <b>angels</b> and <b>developers</b> they need to succeed.</p>
<br />
  
<div class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Start Ups
   <%= link_to '(18)', page_path('startups') %>
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <a href="http://www.houstongolden.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/08/Houston-Golden-Skylab-2013-300x300.jpg"></a>
   <a href="http://www.houstongolden.com"><h2>HOUSTON GOLDEN </h2></a>
<h4>FOUNDER & CEO</h4>
<p>24 year-old web developer, musician, producer, programmer, writer, coder, surfer, digital media entrepreneur, and dreamer, I am always learning how to create new things. <a href="mailto:houstongolden@gmail.com">Email me</a>.</p>
        
      </div>
      <div class="span4">
        <a href="http://www.fundrr.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/fundrr-beta5-logo-white-square.png"></a>
    <a href="http://www.fundrr.com"><h4>Fundrr.com</h4></a>     
<p>Fundrr is crowdfunding for the future of start ups. Built by <a href="http://cloud-media.com/">CloudMedia</a> &  Designed by <a href="http://twitter.com/houstongolden">@houstongolden</a> using <a href="rubyonrails.org">Ruby on Rails</a> and <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is managed through <a href="http://github.com/houstongolden/civly/">GitHub</a> to help nerds do awesome stuff on the web.</p>

      </div>
      <div class="span4">
        <a href="http://cloud-media.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/CloudMedia-facebook-white-square-beta5-logo1.png"></a>
    <a href="http://cloud-media.com"><h4>CloudMedia</h4></a>
        <p>Built by CloudMedia, Fundrr strives to connect start up Founders with the Angels and Developers they need in order to grow and succeed.</a></p>

        </a></p>
      </div>
    </div>
   </div>





</div>
</div>
<footer id='footer'>
<div class="wrapper">
  <div class="container">
    <br />

<br />
<hr />

  <div class="divider"></div>

  <div class="container secondary">
    <ul>
      <li>Made in <a href="http://en.wikipedia.org/wiki/Santa_Monica">Santa Monica, CA</a></li>
      <li>&copy; 2013</li>
    </ul>


  </div>
</div>


</footer>