




  <div class="row">
    <div class="col-md-6">
      <h2>Create account / Login via AngelList</h2>
        <div class='center'>
          <img alt="fundrr" style="text-align:center;" src="http://cloud-media.com/wp-content/uploads/2013/10/fundrr-peace-and-love-banner.png">
        </div>
            <p class='mb'>
            Click the button below to connect your AngelList account and sign-up
            for Fundrr.
            </p>
      <a href="#" class="btn-3d blue">Sign in via AngelList</a><a href="#" class="btn-3d green">Fundrr Founders</a>
    </div>

    <div class="col-md-6">              

                  <h2>Sign in</h2>

          <div class="container">
            <%= render 'users/form' %>
          </div>

            <a href="/users/sign_up">Sign up</a><br />

            <a href="/users/password/new">Forgot your password?</a><br />
          
        </div>
</div>
                
  
        <br />

<hr />




    <!-- Footer
    ================================================== -->

<div class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Start Ups
   <%= link_to '(18)', page_path('startups') %>
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <a href="http://houstongolden.com" target="_blank"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/08/Houston-Golden-Skylab-2013-300x300.jpg"></a>
   <a href="http://houstongolden.com"><h2>HOUSTON GOLDEN </h2></a>
<h4>FOUNDER & CEO</h4>
<p>As a 24 year-old web developer, independent music producer, writer, and digital media entrepreneur, I am always learning new things and pursuing my dreams.</p>
        
      </div>
      <div class="span4">
        <a href="http://fundrr.com" target="_blank"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/fundrr-beta-logo-fundrr-square-2013-6.png"></a>
    <a href="http://fundrr.com" target="_blank"><h4>Fundrr.com</h4></a>   
<p>Fundrr.com is crowdfunding for the future of start ups. Built by <a href="http://cloud-media.com/">CloudMedia</a> &  Designed by <a href="http://twitter.com/houstongolden">@houstongolden</a> using <a href="rubyonrails.org">Ruby on Rails</a> and <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is managed through <a href="http://github.com/houstongolden/civly/">GitHub</a> to help nerds do awesome stuff on the web.</p>

      </div>
      <div class="span4">
        <a href="http://cloud-media.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/CloudMEdia-Logo-NEW-awesome-2013.2.png" target="_blank"></a>
    <a href="http://cloud-media.com" target="_blank"><h4>CloudMedia</h4></a>
        <p>Built by CloudMedia, Fundrr strives to connect start up Founders with the Angels and Developers they need in order to grow.</a></p>

        </a></p>
      </div>
    </div>
   </div>

<hr />

<div class="jumbotron masthead">
  <div class="container">
       <a href="https://github.com/houstongolden/fundrr" target="_blank"><h1>Fundrr hactivism</h1></a>
    <p>Fundrr is a powerful open source platform for the tech start up community.</p>
    <ul class="masthead-links">
      <li>
        <a href="https://github.com/houstongolden/fundrr" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);" target="_blank">GitHub project</a>
      </li>
      <li>
        Version 0.0.1 (beta)
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=fundrr&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=houstongolden&repo=fundrr&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
    </ul>
  </div>




<footer class="footer">
      <div class="container">
        <p>Designed and built with all the love in the world by <a href="http://twitter.com/houstongolden" target="_blank">@houstongolden</a> and <a href="http://cloud-media.com" target="_blank">CloudMedia</a>.</p>
      </div>

<br />

  <div class="container secondary">
    <ul>
      <li>Made in <a href="http://en.wikipedia.org/wiki/Santa_Monica">Santa Monica, CA</a></li>
      <li>&copy; 2013</li>
    </ul>
  </div>
</div>
    </footer>
</div>
</div>