<% content_for :title do %>Startups<% end %>


    
    <section id="companies" class="page-area blockbg7">
       <div class="wrapper">
              <h1><strong>Welcome to the Fundrr Start Up Community</strong></h1></hgroup>
  
<div class="container">
    <h2>
    <a padding="15px;" href="/users/1">Houston Golden</a>'s Start Ups
   <%= link_to '(18)', page_path('startups') %>
  </h2>
    <div class="row-fluid">
      <div class="span4">
        <a href="http://www.houstongolden.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/08/Houston-Golden-Skylab-2013-300x300.jpg"></a>
   <a href="http://www.houstongolden.com"><h3>HOUSTON GOLDEN </h3></a>
<h4>FOUNDER & CEO</h4>
<p>24 year-old web developer, musician, producer, programmer, writer, coder, surfer, digital media entrepreneur, and dreamer, I am always learning how to create new things. <a href="mailto:houstongolden@gmail.com">Email me</a>.</p>
        
      </div>
      <div class="span4">
        <a href="http://www.fundrr.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/fundrr-beta5-logo-white-square.png"></a>
    <a href="http://www.fundrr.com"><h4>Fundrr.com</h4></a>
<p>Fundrr.com is crowdfunding for the future of start ups. Built by <a href="http://cloud-media.com/">CloudMedia</a> &  Designed by <a href="http://twitter.com/houstongolden">@houstongolden</a> using <a href="rubyonrails.org">Ruby on Rails</a> and <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is managed through <a href="http://github.com/houstongolden/civly/">GitHub</a> to help nerds do awesome stuff on the web.</p>

      </div>
      <div class="span4">
        <a href="http://www.cloud-media.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/CloudMedia-facebook-white-square-beta5-logo1.png"></a>
<a href="http://www.cloud-media.com"><h4>CloudMedia</h4></a>
        <p>Built by CloudMedia, Fundrr strives to connect start up Founders with the Angels and Developers they need in order to grow.</a></p>

        </a></p>
      </div>
    </div>
   </div>







<div class="container">

    <div class="row-fluid">
      <div class="span4">
        <a href="http://www.tunetrest.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Tunetrest-Square-Logo-Fundrr-11.png"></a></h2>
   <a href="http://www.tunetrest.com"><h4>Tunetrest.com</h4></a>
    <p>The Music Pinboard</p>
        
      </div>
      <div class="span4">
        <a href="http://www.buzzartist.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/BuzzArtist-Logo-Beta-2013-3-FB-square1.png"></a>
    <a href="http://www.buzzartist.com"><h4>BuzzArtist</h4></a> 
    <p>BuzzArtist.com - New Music Reviews!</p>

      </div>
      <div class="span4">
        <a href="http://www.buzzgov.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/BUZZGOV-facebook-logo1-White-background-logo-2013-Cloud-MEdia-Featured-Shots1.png"></a>
      <a href="http://www.buzzgov.com"><h4>BuzzGov.com</h4></a>
        <p>BuzzGov.com - Bringing Democracy Into The Digital Age!</a></p>

     </a></p>
    </div>
  </div>
</div>







<div class="container">

    <div class="row-fluid">
      <div class="span4">
        <a href="http://www.vidds.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/vidds-beta-logo-Fundrr-Square1.png"></a>
   <a href="http://www.vidds.com"><h4>Vidds.com</h4></a>
    <p>The Best Videos From Around The Internet</p>
        
      </div>
      <div class="span4">
        <a href="http://www.1blog.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/1blog-Fundrr-Square-Logo1.png"></a>
    <a href="http://1blog.com"><h4>1blog.com</h4></a>     
    <p>1blog.com brings together all of the best blogs in one place!</p>

      </div>
      <div class="span4">
        <a href="http://www.coportfolio.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/coportfolio-Fundrr-square-logo-1.png"></a>
      <a href="http://www.coportfolio.com"><h4>CoPortfolio</h4></a>
        <p>CoPortfolio is a collaborative portfolio for team projects and the digital social resumé of the future.</p>

     </a></p>
    </div>
  </div>
</div>




<div class="container">

    <div class="row-fluid">
      <div class="span4">
        <a href="http://www.pixrr.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Pixrr-Fundrr-Square-Logo1.png"></h2></a>
   <a href="http://www.pixrr.com"><h4>Pixrr.com</h4></a>
    <p>The Best Photos From Around The Internet</p>
        
      </div>
      <div class="span4">
        <a href="http://www.dinify.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/dinify-logo-fundrr-square-1-20131.png"></a>
    <a href="http://www.dinify.com"><h4>Dinify.com</h4></a>    
    <p>Never wait for food again!</p>

      </div>
      <div class="span4">
        <a href="http://www.upvids.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/upvids-Fundrr-square-logo1.png"></a>
      <a href="http://www.upvids.com"><h4>UpVids.com</h4></a>
        <p>Sharing Uplifting Videos.</p>

     </a></p>
    </div>
  </div>
</div>


<div class="container">

    <div class="row-fluid">
      <div class="span4">
        <a href="http://www.explr.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Explr-beta-fundrr-square-logo1.png"></h2></a>
   <a href="http://www.explr.com"><h4>Explr.com</h4></a>
    <p>Explore the Internet Atlas like a boss.</p>
        
      </div>
      <div class="span4">
        <a href="http://www.ubuzzme.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/ubuzzme-beta-fundrr-square-logo1.png"></a>
    <a href="http://www.ubuzzme.com"><h4>uBuzzMe.com</h4></a>  
    <p>
      The pager-style app that let's you buzz your friends with quick messages when you want them to call you.</p>

      </div>
      <div class="span4">
        <a href="http://www.buzzagram.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/BUZZAGRAM-fundrr-square-logo1.png"></a>
      <a href="http://www.buzzagram.com"><h4>Buzzagram</h4></a>
        <p>Bookmark and share your favorite media rich posts from the mobile web.</p>

     </a></p>
    </div>
  </div>
</div>


<div class="container">

    <div class="row-fluid">
      <div class="span4">
        <a href="http://www.producercloud.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/ProducerCloud-Fundrr-Square-logo1.png"></a>
   <a href="http://www.producercloud.com"><h4>ProducerCloud</h4></a>
    <p>Produce Your Music and Movies In The Cloud.</p>
        
      </div>
      <div class="span4">
        <a href="http://charitytune.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/CharityTune-fundrr-square-logo1.png"></a>
    <a href="http://charitytune.com"><h4>CharityTune</h4></a>     
    <p>
      CharityTune turns musicians and music-listeners into fund-raising philanthropists! Music Will Save The Day.</p>

      </div>
      <div class="span4">
        <a href="http://dollarly.com"><img class="marketing-img" src="http://cloud-media.com/wp-content/uploads/2013/10/Dollarly-Square-logo-11.png"></a>
      <a href="http://dollarly.com"><h4>Dollarly.com</h4></a>
        <p><a href="http://www.dollarly.com">www.Dollarly.com</a> & <a href="http://www.dollar.ly">Dollar.ly</a> the $1 marketplace.</p>

     </a></p>
    </div>
  </div>
</div>

           </div>
          </div>
        </div>
    </section>





<br />
<hr />



  <div class="divider"></div>

  <div class="container secondary">
    <ul>
      <li>Made in <a href="http://en.wikipedia.org/wiki/Santa_Monica">Santa Monica, CA</a></li>
      <li>&copy; 2013</li>
    </ul>


  </div>


</footer>